

.flex-col-card {
	display: flex;
	flex-direction: column;
}

.flex-col-card .glow-image {
	width: 120px;
	height: 120px;
}

.flex-col-card .glow-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.header-container * {
	margin: 0;
}

.prose {
	line-height: 1.6;
}



.post-date,
.work-experience-duration {
	color: #c7c7c7;
}

.work-experience-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.work-experience-entry:not(:last-of-type) {
	border-bottom: 1px solid #353535;
	padding-bottom: 1rem;
}

.work-experience-duration {
	font-size: 0.925rem;
}

.work-experience-company {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}

.work-experience-role {
	margin-bottom: 0.75rem;
}

.socials-link {
	color: white;
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
}
